body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(../img/fondop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.808);
    background: transparent;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav img {
    width: 10%;
    height: 90px;
}

nav h1 {
    width: 10%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    padding: 20px;
    margin: 0px 20px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, .6);
}

.buscar {
    width: 70%;
    height: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.buscar ul {
    width: 100%;
    margin: 10px 0px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.buscar li {
    display: flex;
    justify-content: space-around;
}

.buscar li a {
    margin: 0px 20px;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.container header button {
    background: #ffff69;
    outline: none;
    border: 1px solid rgba(7, 88, 22, 0.747);
    border-radius: 3px;
    width: 200px;
    margin: 35px 65px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.container header button:hover {
    background: #ffffff;
}

.buscar li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    line-height: 3.5;
    padding-bottom: 5px;
}

.seccion1 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.seccion1 section {
    width: 100%;
}

.cajas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes aumento-cajas {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.1;
    }
}

.cajas img {
    border-radius: 5px;
    box-shadow: 10px 10px rgba(0, 0, 0, .6);
    margin: 25px;
    width: 300px;
    height: 400px;
    cursor: pointer;
}

.cajas img:hover {
    animation-name: aumento-cajas;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}